<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [processor: %X{processorPath}; event: %X{correlationId}] %c{1}: %m%n"/>
        </Console>
        <RollingFile name="File" fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}ai-support-ticket-classifier.log"
                     filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}ai-support-ticket-classifier-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%-5p %d [%t] [processor: %X{processorPath}; event: %X{correlationId}] %c{1}: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Logger -->
        <AsyncLogger name="com.mycompany" level="INFO"/>
        <!-- Mule Runtime Core Loggers -->
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>
        <AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="WARN"/>

        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
